<p><b><%= dataset_list.size %></b> datasets found</p>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-condensed">
    <tr class='success'>
      <th>Subject ID</th>
      <th>Title</th>
      <th>File</th>
      <th>Availability</th>
      <th>Contributors</th>
      <th>PI</th>
      <th>Note</th>
    </tr>

    <% dataset_list.each do |s| %>
      <tr>
        <td><%= s.human %></td>
        <td><%= s.title %></td>
        <td><% unless s.file.blank? %><%= link_to s.file_identifier, s.file.url %><% else %>&nbsp;<% end %></td>
        <td><%= s.availability %></td>
        <td><%= s.contributors %></td>
        <td><%= s.pi %></td>
        <td><%= s.note %></td>
      </tr>
    <% end %>
  </table>
</div>

