<%= will_paginate sample_list, :class => 'digg_pagination' %>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-condensed" id='my-table'>
    <tr>
      <th>Sample ID</th>
      <th>Type</th>
      <th>Subject ID</th>
      <th>Visit</th>
      <th>Original Amount</th>
      <th>Available Amount</th>
      <th>Concentration</th>
      <th>Location</th>
      <th>Source</th>
      <th>Prepared by</th>
      <th>Created on</th>
      <th>Note</th>
    </tr>

    <% sample_list.each do |s| %>
      <tr>
        <td><%= link_to s.accession, admin_human_sample_path(s) %></td>
        <td><%= s.sample_type %></td>
        <td><%= s.human %></td>
        <td><%= s.visit.visit_type %></td>
        <td><%= s.amount %></td>
        <td><%= s.avail_amount %></td>
        <td><%= s.concentration %></td>
        <td><%= s.main_location %>: <%= s.sub_location %></td>
        <td><%= s.source %></td>
        <td><%= s.prepared_by %></td>
        <td><%= s.created_on %></td>
        <td><%= s.note %></td>
      </tr>
    <% end %>
  </table>
</div>

