<div class="page-header">
  <h3><i class='glyphicon glyphicon-eye-open'></i> Check if the system interpret your file correctly</h3>
</div>

<% if !@errors.blank? %>
  <p class='text-danger'><strong><%= @errors.size %> ERRORs found! Please fix it before submitting to system</strong></p>
  <ol>
    <% @errors.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ol>
  <p><%= link_to 'Go back', admin_human_samples_batch_new_path, :class => 'btn btn-primary' %></p>
<% else %>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
      <tr>
        <th>Sample ID</th>
        <th>Type</th>
        <th>Subject ID</th>
        <th>Visit Type</th>
        <th>Amount</th>
        <th>Concentration</th>
        <th>Main Location</th>
        <th>Sub Location</th>
        <th>Source</th>
        <th>Prepared_by</th>
        <th>Created_on</th>
        <th>Note</th>
      </tr>
      <% CSV.foreach(@csv_file, headers: true, row_sep: :auto, :col_sep => @this_sep) do |row| %>
        <% dat = row.to_hash %>
        <tr>
          <td><%= dat['Sample ID'] %></td>
          <td><%= dat['Type'] %></td>
          <td><%= dat['Subject ID'] %></td>
          <td><%= dat['Visit Type'] %></td>
          <td><%= dat['Amount'] %></td>
          <td><%= dat['Concentration'] %></td>
          <td><%= dat['Main Location'] %></td>
          <td><%= dat['Sub Location'] %></td>
          <td><%= dat['Source'] %></td>
          <td><%= dat['Prepared_by'] %></td>
          <td><%= dat['Created_on'] %></td>
          <td><%= dat['Note'] %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <p>
  <%= link_to 'Go back', admin_human_samples_batch_new_path, :class => 'btn btn-danger' %>
  <%= link_to 'Create', {:action => :batch_create, :file =>@csv_file}, :class => 'btn btn-success', :method => :post %>
  </p>
<% end %>
