<div class="page-header">
  <h3><i class='glyphicon glyphicon-list-alt'></i> Search Results</h3>
</div>

<div align='center'>
  <%= form_tag({:action => "search_results"}, :method => 'get') do %>
    <%= select_tag :key, options_for_select(@ops, 'Type') %> 
    <%= text_field_tag :value %>
    <%= submit_tag "Search Again", :class => 'btn btn-primary' %>
  <% end %>
</div>
<hr>

<p><%= @samples.count %> records found!</p>
<%= render partial: "search_table", locals: {sample_list: @samples } %> 
