<div class="header-choc">
  <h3><i class='glyphicon glyphicon-calendar'></i> Calendar</h3>
</div>
<div class="panel panel-red">
  <div class="panel-heading" align='center'>
    <h4>
      <%= link_to date: @date.prev_month do %>
        <i class='glyphicon glyphicon-backward' style='color:white'></i>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= @date.strftime("%B %Y") %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to date: @date.next_month do %>
        <i class='glyphicon glyphicon-forward' style='color:white'></i>
      <% end %>
    </h4>
  </div>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @events_by_date[date] %>
      <% @events_by_date[date].each do |event| %>
        <p><%= link_to event.title, clinic_event_path(event) %></p>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Add event', new_clinic_event_path, class: 'btn btn-primary' %>

