<div class="header-blue">
  <h3><i class='glyphicon glyphicon-pencil'></i> Change Password</h3>
</div>

<%= simple_form_for(current_user) do |f| %>
  <%= f.input :password, :input_html => { :class => :wd300 }, :label => 'New Password' %>
  <%= f.input :password_confirm, :input_html => { :class => :wd300 }, :label => 'Confrim Password' %>
  <%= recaptcha_tags %><br>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
