<div class="header-blue">
  <h3><i class='glyphicon glyphicon-time'></i> Visits</h3>
</div>

<p><%= link_to stock_visits_path(format: "csv") do %><i class='glyphicon glyphicon-download-alt'></i> Download the entire log<% end %></p>

<div id='input-box'>
  <%= form_for_filterrific @filterrific do |f| %>
    Search <%= f.text_field :search_query, class: 'filterrific-periodically-observed' %>
  &nbsp;&nbsp;&nbsp;Visit Year <%= f.select :with_type, @filterrific.select_options[:with_type], {include_blank: '- Any -'} %>
  &nbsp;&nbsp;&nbsp;Age above <%= f.text_field :above_age, class: 'filterrific-periodically-observed' %>
&nbsp;&nbsp;&nbsp;<%= link_to 'Reset filters', reset_filterrific_url %>
<% end %>
</div>

<br />
<%= render partial: "visit_table", locals: {visit_list: @visits } %> 

