<div class="page-header">
  <h3><i class='glyphicon glyphicon-pencil'></i> Edit sample type</h3>
</div>
<%= simple_form_for([:admin,@sample_type]) do |f| %>
  <%= f.input :name, hint: 'blood, OE, LB', :input_html => { :class => :wd300 } %>
  <%= f.input :note, :input_html => { :class => :wd300 } %>
  <%= recaptcha_tags %><br>

  <%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>
