<div class="page-header">
  <h3><i class='glyphicon glyphicon-plus'></i> Add new human subjects</h3>
</div>
<%= simple_form_for(@human, :url => admin_humen_confirm_create_path, html: { multipart: true }) do |f| %>
  <%= file_field_tag :csv_file %>
  <small class='text-danger'>Only comma-delimited or tab-delimited text file (csv, txt) allowed</small>
  <br><br>

  <%= f.button :submit, :class => 'btn btn-primary' %>

  <hr />
  <p class='text-danger'>Important: Each subject must have an UNIQUE ID</p>
  <p>The uploaded file must and can only have the following columns:</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
      <tr>
        <th>Status</th>
        <th>ID</th>
        <th>Other IDs</th>
        <th>Cohort</th>
        <th>Gender</th>
        <th>Race</th>
        <th>Population</th>
        <th>Note</th>
      </tr>
      <tr>
        <td>Allowed value: <%= Status.select(:name).join(' or ') %></td>
        <td>Must unique</td>
        <td>If has multiple ids, use semicolon to sepeate. E.g. h123;h125</td>
        <td>Allowed value: <%= Cohort.select(:name).join(' or ') %>. If belongs to multiple cohorts, use semicolon to sepeate. E.g. FEP;Howard</td>
        <td>Allowed value: <%= Gender.select(:name).join(' or ') %></td>
        <td>Allowed value: <%= Race.select(:name).join(' or ') %>; If the subject has multiple race, use / to seperate. E.g. Asian/AA </td>
        <td>Allowed value: <%= Population.select(:name).join(' or ') %></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
  <i class='glyphicon glyphicon-download-alt'></i> <%= link_to 'Download Template', :action => :send_template %>

<% end %>
