<div class="page-header">
  <h3><i class='glyphicon glyphicon-user'></i><i class='glyphicon glyphicon-user'></i> <%= @subject.accession %></h3>
</div>

<p>
<%= link_to 'Edit', edit_admin_human_path(@subject) %> 
<% if @subject.visits.size == 0 %>
  | <%= link_to 'Delete', admin_human_path(@subject), :data => {:confirm => 'Want to delete this subject?'}, :method => :delete%>
<% end %>
</p>

<%= render partial: "show_subject" %> 
<%= render partial: "show_version", locals: {this_data: @subject } %> 

