<div class="panel panel-success">
  <div class="panel-heading"><b>Samples</b></div>
  <table class="table table-bordered table-striped table-condensed" id='my-table'>
    <tr>
      <th>&nbsp;</th>
      <th>Sample ID</th>
      <th>Type</th>
      <th>Subject ID</th>
      <th>Visit</th>
      <th>Available Amount</th>
      <th>Concentration</th>
      <th>Location</th>
      <th>Source</th>
      <th>Prepared by</th>
      <th>Created on</th>
      <th>Note</th>
      <th>&nbsp;</th>
    </tr>

    <% sample_list.each do |sl|; s = sl.human_sample %>
    <tr>
      <td>
        <% if current_user.has_cart?(s.id) %>
          <span class="glyphicon glyphicon-ok" style='color:green;'></span>
        <% else %>
          <%= link_to stock_carts_path(:user_id => current_user.id, :sample_id => s.id), :method => :post do%><span class='glyphicon glyphicon-shopping-cart'></span><% end %>
        <% end %>
      </td>
      <td><%= link_to s.accession, stock_human_sample_path(s) %></td>
      <td><%= s.sample_type %></td>
      <td><%= link_to s.human, stock_human_path(s.human) %></td>
      <td><%= s.visit.visit_type %></td>
      <td><%= s.avail_amount %></td>
      <td><%= s.concentration %></td>
      <td><%= s.main_location %>: <%= s.sub_location %></td>
      <td><%= s.source %></td>
      <td><%= s.prepared_by %></td>
      <td><%= s.created_on %></td>
      <td><%= s.note %></td>
      <td><%= link_to stock_favorite_path(:id => sl.id, :type => 'sample'), :data => {:confirm => 'Want to delete this item from your favorites?'}, :method => :delete do %><span class='glyphicon glyphicon-trash'></span><% end %></td>
    </tr>
  <% end %>
  </table>
</div>

