<div class="page-header">
  <h3><i class='glyphicon glyphicon-plus'></i> Add new group</h3>
</div>
<%= simple_form_for([:admin,@group]) do |f| %>
  <%= f.input :name, :input_html => { :class => :wd300 } %>
  <%= f.input :note, :input_html => { :class => :wd300 }, :label => 'Description' %>
  <%= recaptcha_tags %><br>

  <%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>
