<div class="page-header">
  <h3><i class='glyphicon glyphicon-plus'></i> Change user password</h3>
</div>
<%= simple_form_for([:admin,@user]) do |f| %>
  <%= f.input :password, :input_html => { :class => :wd300 }, :label => 'New Password' %>
  <%= f.input :password_confrim, :input_html => { :class => :wd300 }, :label => 'Confirm Password' %>
  <%= recaptcha_tags %><br>

  <%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>
