<div class="table-responsive">
  <table class="table table-bordered table-striped table-condensed" id='my-table'>
    <thead>
      <tr class='success'>
        <th>Status</th>
        <th>ID</th>
        <th>Other IDs</th>
        <th>Cohort</th>
        <th>Gender</th>
        <th>Race</th>
        <th>Population</th>
        <th>Note</th>
      </tr>
    </thead>

    <tbody>
      <% subject_list.each do |s| %>
        <% if s.status.try(:name) == 'Invalid' %>
          <tr class='danger'>
          <% else %>
            <tr>
            <% end %>
            <td><%= s.status %></td>
            <td><%= link_to s.accession, clinic_human_path(s) %></td>
            <td><%= s.other_ids %></td>
            <td><%= s.to_cohorts %></td>
            <td><%= s.gender %></td>
            <td><%= s.to_races %></td>
            <td><%= s.population %></td>
            <td><%= s.note %></td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>

