<div class="table-responsive">
  <table class="table table-bordered table-striped table-condensed" id='my-table'>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Status</th>
        <th>ID</th>
        <th>Other IDs</th>
        <th>Cohort</th>
        <th>Gender</th>
        <th>Race</th>
        <th>Population</th>
        <th>Note</th>
      </tr>
    </thead>

    <tbody>
      <% subject_list.each do |s| %>
        <% if s.status.try(:name) == 'Invalid' %>
          <tr class='danger'>
          <% else %>
            <tr>
            <% end %>
            <td>
              <% if current_user.has_fav_subject?(s.id) %>
                <span class="glyphicon glyphicon-heart" style='color:red;'></span>
              <% else %>
                <%= link_to stock_favorites_path(:user_id => current_user.id, :subject_id => s.id, :type => 'subject'), :method => :post do%><span class='glyphicon glyphicon-heart'></span><% end %>
              <% end %>
            </td>
            <td><%= s.status %></td>
            <td><%= link_to s.accession, stock_human_path(s) %></td>
            <td><%= s.other_ids %></td>
            <td><%= s.to_cohorts %></td>
            <td><%= s.gender %></td>
            <td><%= s.to_races %></td>
            <td><%= s.population %></td>
            <td><%= s.note %></td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>

