<div class="header-choc">
  <h3><i class='glyphicon glyphicon-lock'></i> IRB Studies</h3>
</div>

<table class='table table-bordered'>
  <tr class='info'>
    <th>Study Number</th>
    <th>Study Name</th>
    <th>PI</th>
    <th>URL</th>
    <th>Note</th>
    <th>&nbsp;</th>
  </tr>
  <% @irbs.each do |i| %>
    <tr>
      <td><%= link_to i.number, clinic_irb_path(i) %></td>
      <td><%= i.name %></td>
      <td><%= i.pi %></td>
      <td><% if i.address %><%= link_to i.address, i.address, :target => "_blank" %><% else %>&nbsp;<% end %></td>
      <td><%= i.note %></td>
      <td><%= link_to edit_clinic_irb_path(i) do %><i class='glyphicon glyphicon-pencil'></i><% end %></td>
      </tr>
    <% end %>
</table>
